@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #c6cfd4;
}

.contenedor {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    position: relative;
    display: flex;
    background: linear-gradient(100.57deg, #030102 0%, #5A1000 100%);
    justify-content: center;
    /* align-items: center; */
    /* padding: 1rem; */
}

.contenedor.center {
    align-items: center;
}

.contenedor .info,
.credit-card-container {
    max-height: 100%;
    height: 100%;
    align-items: center;
}

/* SCREEN */

.contenedor .info {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 2rem solid #4E4E4E;
    padding: 1rem;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #030102;
    width: 40%;
    height: 4.5rem;
    font-size: 3rem;
    text-align: center;
    background-color: #161616;
    color: #464646;
    letter-spacing: 2rem;
    text-indent: 7%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.input-box.money {
    letter-spacing: normal;
}

span {
    display: none;
}

span.error {
    display: block;
    background-color: #E2445C;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

/* OUTSIDE ATM */
.credit-card-container {
    width: 30%;
    /* align-items: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #6F6F6F;
    flex-direction: column;
}

.frame {
    position: fixed;
    background-color: #6F6F6F;
    border-radius: 0.5rem;
    width: 350px;
    height: 122px;
    transform: translateY(-170%);
    border: 4px solid #4E4E4E;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
}

.cover-top {
    position: fixed;
    z-index: 4;
    width: 350px;
    height: 59px;
    transform: translateY(-477%);
    background: #6F6F6F;
    border-top: 4px solid #4E4E4E;
    border-left: 4px solid #4E4E4E;
    border-right: 4px solid #4E4E4E;
}

.slot {
    position: fixed;
    background-color: #575757;
    width: 300px;
    height: 45px;
    margin: auto;
    transition: all 0.45s;
    z-index: 2;

}

.upper.slot {
    transform: translateY(-510%);
    border-left: 4px solid #4E4E4E;
    border-right: 4px solid #4E4E4E;
    border-top: 4px solid #4E4E4E;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom: 2px solid #4E4E4E;
    z-index: 3;
}

.lower.slot {
    z-index: 1;
    transform: translateY(-411%);
    border-left: 4px solid #4E4E4E;
    border-right: 4px solid #4E4E4E;
    border-bottom: 4px solid #4E4E4E;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top: 2px solid #4E4E4E;
}

.active.upper.slot {
    border-left: 4px solid #2dcb2d;
    border-right: 4px solid #2dcb2d;
    border-top: 4px solid #2dcb2d;
}
.active.lower.slot {
    border-left: 4px solid #2dcb2d;
    border-right: 4px solid #2dcb2d;
    border-bottom: 4px solid #2dcb2d;
}

.credit-card-container img {
    transform: translate(1px, -5%);
    height: 50%;
    transition: all 1.5s;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    /* margin: auto; */
    /* transform: translateY(-17%) rotate(90deg); */
}

.credit-card-container img.in {
    transform: translate(1px, -127%) rotate(90deg);
    height: 45%;
    transition: all 1.5s;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    /* margin: auto; */
    /* transform: translateY(-17%) rotate(90deg); */
}

.options {
    /* align-self: flex-end; */
    margin: auto auto 1.25rem auto;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 350px;
    height: 50px;
}

.keyboard {
    align-self: flex-end;
    width: 350px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1rem;
    justify-content: center;
    padding: 0.5rem;
}

.options .btn,
.keyboard button {
    width: 30%;
    cursor: pointer;
    border-radius: 0.5rem;
    background: #2d2c2e;
    border: 0.25rem solid #252222;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
    /* font-weight: bolder; */
    /* height: 3rem; */
}

.boton {
    background-color: #0C72D6;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
}

.operations {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* UTILITY CLASSES */

.w-100 {
    width: 100%;
}

.hidden {
    display: none;
}

.txt-center {
    text-align: center;
}

.ml-1 {
    margin-left: 1rem;
}
.mb-1 {
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
}

.info-txt {
    font-size: 2rem;
}

::-webkit-scrollbar {
    height: 10px;
}